* {
        padding: 0 auto;
        margin: 0 auto;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
}

body {
        color: #484848;
        overflow: hidden;
        font-size: 14px;
        font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}