footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: solid 1px #CCCCCC;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
}