<<<<<<< HEAD
header{
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

.logo {
	background: url("../images/logo.png") no-repeat;
    	background-position: left;
    	display: block;
    	height: 100%;
    	margin-left: 20px;
}
=======
header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: solid 1px #CCCCCC;
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: start;
        align-items: center;
}

img {
        position: absolute;
}
>>>>>>> f42ae735011df69e6850a7ab82c0e0e570d5c6e8
