.filters {
        height: 70px;
        width: 100%;
        max-width: 98%;
        border: solid 1px #DDDDDD;
        border-radius: 4px;
        display: flex;
        align-items: center;
        margin: 4px;
        justify-content: space-between;
        align-content: center;
}

button {
        width: 20%;
        height: 48px;
        font-size: 18px;
        border: none;
        background-color: #FF5A5F;
        color: #FFFFFF;
        border-radius: 4px;
        /*position: absolute;*/
        right: 0;
        margin-right: 30px;
}

.locations,
.amenities {
        height: 100%;
        width: 25%;
        border: solid 1px #DDDDDD;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-left: -2px;
}

.amenities {
        margin-left: -133px;
        border-right: none;
}

.locations, .amenities h3 {
        font-weight: 600;
        /*margin-left: 65px;*/
}

.locations, .amenities, h4 {
        font-weight: 400;
        font-size: 14px;
}