.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}
.places h1 {
    text-align: left;
    font-size: 30px;
    display: block;
    flex-grow: 2;
    width: 100%;

}

.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}
    


.places article h2 {
    font-size: 30px;
    text-align: center;
    padding-left: 100px;
    margin-top: -1px
}

.places .price_by_night {
    color: #FF5A5F;
    border: solid #FF5A5F 4px;
    border-radius: 50%;
    align-items: center;
    width: 60px;
    height: 60px;
    display: flex;
    margin-left: 60px;
    justify-content: center;

}


.information {
    height: 80px;
    width: 100%;
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
    flex: 1 0 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;    
}

.max_guest {
    background: url("../images/guest_icon\ .png") no-repeat;
    width: 100px;
    padding-top: 49px;
    background-position: center center;
}

.number_rooms {
    background: url("../images/rooms_icon.png") no-repeat;
    width: 100px;
    padding-top: 49px;
    background-position: center center;
}

.number_bathrooms {
    background: url("../images/bathrooms_icon.png") no-repeat;
    width: 100px;
    padding-top: 49px;
    background-position: center center;
}



.user {
        margin-top: 20px;
        margin-bottom: -5px;
}

.description p {
    text-align: left;
}